<style>
    * {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px 0px 20px ;
  padding-left: 55%;
  width:100%;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 2;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
}

ul {
  /*overflow: auto;*/
  list-style-type: none;
}

li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid black;
  padding: 0 20px;
}

li:last-child {
  border-right: black;
}

li a {
  text-decoration: none;
  color: #000;
  font: 15px/1 'Josefin Slab', serif ;
  text-transform: uppercase;
  font-weight: bolder;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: #808080;
}

li.active a {

  /*background-image: -webkit-linear-gradient(top, #00ff00, #29d119);*/
  /*background-image: -moz-linear-gradient(top, #00ff00, #29d119);*/
  /*background-image: -ms-linear-gradient(top, #00ff00, #29d119);*/
  /*background-image: -o-linear-gradient(top, #00ff00, #29d119);*/
  /*background-image: linear-gradient(to bottom, #00ff00, #29d119);*/

  border-bottom: 3px solid white;
  font-family: 'Josefin Slab', serif;
  font-weight: bolder;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


</style>
<nav class="hide-for-small-only hide-for-medium-only" [class.fixed]="navIsFixed" fixed-navbar>
  <div class="content-header">
  <ul>

    <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a  [routerLink]="['/']">Home</a></li>
    <li [routerLinkActive]="['active']" ><a   [routerLink]="['gallery']">Gallery</a></li>
    <li [routerLinkActive]="['active']"><a   [routerLink]="['blogs']">Blogs</a></li>
    <li [routerLinkActive]="['active']"><a  [routerLink]="['about']">About me</a></li>
    <li [routerLinkActive]="['active']"><a   [routerLink]="['contact']">Contact me</a></li>
  </ul>
  </div>
</nav>



