<div class="sliders">
        <div >
            <div id="slider">
                <figure>
                    <img src="../../../assets/images/wedding1.jpg" alt>
                    <img src="../../../assets/images/wedding2.jpg" alt>
                    <img src="../../../assets/images/wedding3.jpg" alt>
                    <img src="../../../assets/images/wedding4.jpg" alt>
                    <img src="../../../assets/images/wedding5.jpg" alt>

                </figure>


            </div>
        </div>
        <div class="home-content">
            <div class="about-me">
              <div class="row">
                <div><h4 class="title-home"  data-aos="fade-up">Little something about me...</h4></div>
                <div class="columns  medium-6 large-6 small-12 image small-order-1">
                  <img src="../../../assets/images/about-me-image.jpg" alt="Rishabh" class="about-me-image"  data-aos="fade-up">
                  <div class="row">
                    <button class="btn btn-3 btn-3e icon-arrow-right" [routerLink]="['about']"  data-aos="fade-up">more about me</button>
                  </div>
                </div>
                <div class="columns  large-6 medium-6 small-12 small-order-2"  data-aos="fade-up">
                  <p class="about-me-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>

              </div>
            </div>
            <div class="quote-container">
              <div class="row"  data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
              <p class="quote">“Art is what we call…the thing an artist does. It’s not the medium or the oil or the price or whether it hangs on a wall or you eat it. What matters, what makes it art, is that the person who made it overcame the resistance, ignored the voice of doubt and made something worth making. Something risky. Something human. Art is not in the …eye of the beholder. It’s in the soul of the artist.” ― Seth Godin</p>
              </div>
            </div>
          <div class="for-gallery">
            <div class="w-btn"  data-aos="fade-down" data-aos-duration="2000" >
            <button class="btn btn-4 btn-4a icon-arrow-right" [routerLink]="['gallery']">See my work...</button>
            </div>
          </div>
          <div class="h-contact">
              <div class="inner-contact"  data-aos="fade-up">
                <h1 class="title-email">In case you have any doubts, feel free to contact me</h1>
                <h4 class="contact-email">rishabhrawat67@gmail.com</h4>

                <button class="btn btn-4 btn-4a icon-arrow-right " [routerLink]="['contact']">Contact me</button>


              </div>
          </div>

        </div>
    </div>


